<nav class="navbar navbar-fixed-top normal navbar-inverse" role="banner">
  <div class="container">
        
      <div class="navbar-header">
            <img     style="width: 55px; height: auto; margin-top: -10px; float:left" src="../../assets/venus.png"   alt="">
          <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button> -->
          <!-- <a class="navbar-brand "  style="color: white;font-size: 18px; align-content: center;" routerLink="/chatbot"> -->
            <!-- <img class="navbar-brand" style="width: 90px; height: auto; margin-top: -15px;" src="../../assets/venus.png"   alt=""> -->
        <!-- </a> -->
        <a class="navbar-brand" style="color: white;font-size: 21px; margin-left: -30px">V.E.N.U.S</a>
      </div>

      <div class="collapse navbar-collapse navbar-right">
          <ul class="nav navbar-nav">

                  <!-- <li routerLinkActive="active" ><a [routerLink]="['/chatbot']" >Chatbot</a></li> -->
                  <!-- <li routerLinkActive="active" ><a routerLink="/acumen" >Acumen CS Fest</a></li> -->
                  <!-- <li  routerLinkActive="active" >  <a  routerLink="/events" >Events</a></li> -->
                  <!-- <li routerLinkActive="active" ><a routerLink="/sponsors" >Sponsors</a></li> -->

                      
          </ul>
      </div>
  </div><!--/.container-->
</nav><!--/nav-->

<div class="buffer"></div>