.buffer{
    height: 56px;
    width: 100%;
}

.back{
    height: 100%;
    background-color: white;
    position: fixed;
    width: 100%;
}


@keyframes fadein_chat{
    from{
        opacity: 0;
        display: none;
    }
    to{
      display: block;
        opacity: 1;
    }
}

chat-dialog{
    animation: fadein_chat .7s forwards;
}
app-header{
    animation: fadein .7s forwards;
}