
<div class="make-red" >
  <div align="center" style="padding-top: 20px;" >
    
     
    <h1   > <img src="../../assets/logo.png" alt="" style="margin-bottom: -10px" height="50" width="50" > ACUMEN CS FEST</h1></div>
  <div class="buff">
    
  </div>
<div class="hal9000  "  >
<div class="hal-eye"></div>
<div class="hal-reflect"></div>  
</div> 
<div class="buff" ></div>
<div class="button">
		<a [routerLink]="['/chatbot']">Enter<span class="shift">›</span></a>
		<div class="mask"></div>
	</div>
<br><br><br><br>

</div>