.make-red{
    height: 100vh;
    background-color: #222226;
    margin: 0px;
    padding: 0px;
    /* position: fixed; */
}

.buff{
    height: 70px;
    width: 100%;
    align-content: center;
}
 h1{
     
    color: white;
    font-family: 'Oxygen', serif;
    align-content: center;
    margin: auto !important;
    padding-top: 20px;
    /* padding: auto; */
}

@keyframes hal-bg-animation
{
    0%
    {
        filter: saturate(.5);
    }
    50%
    {
        filter: saturate(1.2);
    }
    100%
    {
        filter: saturate(.5);
    }
}
@-webkit-keyframes hal-bg-animation
{
    0%
    {
        -webkit-filter: saturate(.5);
    }
    50%
    {
        -webkit-filter: saturate(1.2);
    }
    100%
    {
        -webkit-filter: saturate(.5);
    }
}
.hal9000
{
    position: relative;

    width: 200px;
    height: 200px;
    /* margin: 4rem auto; */
    margin: auto;
    
   
   
    border-radius: 50%;
    background: #ced6d8;
  /* Old browsers */
    background:    -moz-linear-gradient(-30deg, #ced6d8 0%, #222127 100%);
  /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ced6d8), color-stop(100%, #222127));
  /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-30deg, #ced6d8 0%, #222127 100%);
  /* Chrome10+,Safari5.1+ */
    background:      -o-linear-gradient(-30deg, #ced6d8 0%, #222127 100%);
  /* Opera 11.10+ */
    background:     -ms-linear-gradient(-30deg, #ced6d8 0%, #222127 100%);
  /* IE10+ */
    background:         linear-gradient(150deg, #ced6d8 0%, #222127 100%);
  /* IE6-9 fallback on horizontal gradient */
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, .6), inset 0 -1px 1px rgba(0, 0, 0, .4), 1px 5px 15px rgba(0, 0, 0, .6);

  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ced6d8', endColorstr='#222127',GradientType=0 );
}
.hal9000:before
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 184px;
    height: 184px;
    margin: -92px 0 0 -92px;

    content: ' ';

    border-radius: 50%;
    background: #4f565d;
  /* Old browsers */
    background:    -moz-linear-gradient(-30deg, #4f565d 0%, #161314 100%);
  /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #4f565d), color-stop(100%, #161314));
  /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-30deg, #4f565d 0%, #161314 100%);
  /* Chrome10+,Safari5.1+ */
    background:      -o-linear-gradient(-30deg, #4f565d 0%, #161314 100%);
  /* Opera 11.10+ */
    background:     -ms-linear-gradient(-30deg, #4f565d 0%, #161314 100%);
  /* IE10+ */
    background:         linear-gradient(150deg, #4f565d 0%, #161314 100%);
  /* IE6-9 fallback on horizontal gradient */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .15), inset 0 -1px 1px rgba(255, 255, 255, .25);

  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f565d', endColorstr='#161314',GradientType=0 );
}
.hal9000:after
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 168px;
    height: 168px;
    margin: -84px 0 0 -84px;

    content: ' ';
    transition: all .7s;
    -webkit-animation: hal-bg-animation 3.4s infinite;
            animation: hal-bg-animation 3.4s infinite;

    border-radius: 50%;
    background: #000;
  /* Old browsers */
    background:    -moz-radial-gradient(center, ellipse cover, #d80018 0%, #9c0109 20%, #000 60%, #000 100%);
  /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #d80018), color-stop(20%, #9c0109), color-stop(60%, #000), color-stop(100%, #000));
  /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #d80018 0%, #9c0109 20%, #000 60%, #000 100%);
  /* Chrome10+,Safari5.1+ */
    background:      -o-radial-gradient(center, ellipse cover, #d80018 0%, #9c0109 20%, #000 60%, #000 100%);
  /* Opera 12+ */
    background:     -ms-radial-gradient(center, ellipse cover, #d80018 0%, #9c0109 20%, #000 60%, #000 100%);
  /* IE10+ */
    background:         radial-gradient(ellipse at center, #d80018 0%, #9c0109 20%, #000 60%, #000 100%);
  /* IE6-9 fallback on horizontal gradient */
    box-shadow: 0 -4px 2px -2px rgba(224, 239, 247, .6);

  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c0109', endColorstr='#000000',GradientType=1 );
}
@keyframes hal-eye-animation
{
    0%
    {
        box-shadow: 1px -2px 15px 5px rgba(253, 210, 71, .25), -1px 2px 13px 13px rgba(255, 0, 4, .7);
    }
    25%
    {
        box-shadow: 0 3px 16px 4px rgba(253, 210, 71, .3), 1px 1px 15px 15px rgba(255, 0, 4, .7);
    }
    50%
    {
        box-shadow: -2px -1px 16px 6px rgba(253, 210, 71, .35), -1px -1px 14px 14px rgba(255, 0, 4, .7);
    }
    75%
    {
        box-shadow: 0 0 15px 5px rgba(253, 210, 71, .3), 1px -1px 15px 13px rgba(255, 0, 4, .7);
    }
    100%
    {
        box-shadow: 1px -2px 15px 5px rgba(253, 210, 71, .25), -1px 2px 13px 13px rgba(255, 0, 4, .7);
    }
}
@-webkit-keyframes hal-eye-animation
{
    0%
    {
        box-shadow: 1px -2px 15px 5px rgba(253, 210, 71, .25), -1px 2px 13px 13px rgba(255, 0, 4, .7);
    }
    25%
    {
        box-shadow: 0 3px 16px 4px rgba(253, 210, 71, .3), 1px 1px 15px 15px rgba(255, 0, 4, .7);
    }
    50%
    {
        box-shadow: -2px -1px 16px 6px rgba(253, 210, 71, .35), -1px -1px 14px 14px rgba(255, 0, 4, .7);
    }
    75%
    {
        box-shadow: 0 0 15px 5px rgba(253, 210, 71, .3), 1px -1px 15px 13px rgba(255, 0, 4, .7);
    }
    100%
    {
        box-shadow: 1px -2px 15px 5px rgba(253, 210, 71, .25), -1px 2px 13px 13px rgba(255, 0, 4, .7);
    }
}
.hal9000 .hal-eye
{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;

    width: 144px;
    height: 144px;
    margin: -72px 0 0 -72px;

    border-radius: 50%;
    box-shadow: 0 -4px 3px -1px rgba(240, 240, 255, .55);
}
.hal9000 .hal-eye:before
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 128px;
    height: 128px;
    margin: -64px 0 0 -64px;

    content: ' ';

    border-radius: 50%;
    box-shadow: -1px -3px 2px -1px rgba(240, 240, 255, .45);
}
.hal9000 .hal-eye:after
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 24px;
    height: 24px;
    margin: -12px 0 0 -12px;

    content: ' ';
  /* IE6-9 fallback on horizontal gradient */
    -webkit-animation: hal-eye-animation 4.5s infinite;
            animation: hal-eye-animation 4.5s infinite;

    border-radius: 50%;
    background: #fdd247;
  /* Old browsers */
    background:    -moz-radial-gradient(center, ellipse cover, #fff0fc 0%, #ffe091 20%, #ffe26c 45%, #fdd247 100%);
  /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #fff0fc), color-stop(20%, #ffe091), color-stop(45%, #ffe26c), color-stop(100%, #fdd247));
  /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #fff0fc 0%, #ffe091 20%, #ffe26c 45%, #fdd247 100%);
  /* Chrome10+,Safari5.1+ */
    background:      -o-radial-gradient(center, ellipse cover, #fff0fc 0%, #ffe091 20%, #ffe26c 45%, #fdd247 100%);
  /* Opera 12+ */
    background:     -ms-radial-gradient(center, ellipse cover, #fff0fc 0%, #ffe091 20%, #ffe26c 45%, #fdd247 100%);
  /* IE10+ */
    background:         radial-gradient(ellipse at center, #fff0fc 0%, #ffe091 20%, #ffe26c 45%, #fdd247 100%);
    box-shadow: 1px -2px 15px 5px rgba(253, 210, 71, .25), -1px 2px 13px 13px rgba(255, 0, 4, .7);

  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe091', endColorstr='#ffe26c',GradientType=1 );
}
.hal9000 .hal-reflect
{
    font-family: 'Open Sans';

    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;

    overflow: hidden;

    width: 128px;
    height: 128px;
    margin: -64px 0 0 -64px;

    color: #eefcfd;
    border-radius: 50%;
}
.hal9000 .hal-reflect:before,
.hal9000 .hal-reflect:after
{
    position: absolute;

    display: block;

    width: 300px;

    content: '\2584\2584\00a0\00a0\00a0\00a0\2580\2580\00a0\00a0\00a0\00a0\2584\2584';
    text-align: center;
}
.hal-reflect:before
{
    font-size: 30px;

    top: -5px;
    left: -86px;

    transform: matrix3d(.45, 0, 0, 0, 0, .25, 0, .0075, 0, 0, 1, 0, 0, 0, 0, 1);

    color: rgba(238, 252, 253, .45);
    text-shadow: 3px 3px 6px, 7px 7px 6px, -3px -3px 4px, -7px -7px 4px, 4px -4px 3px, -4px 4px 3px, 3px 34px 6px, 3px 34px 6px;
}
.hal9000 .hal-reflect:after
{
    font-size: 30px;

    top: 14px;
    left: -84px;

    transform: matrix3d(.3, 0, 0, 0, 0, .15, 0, .0075, 0, 0, 1, 0, 0, 0, 0, 1);

    color: rgba(238, 252, 253, .35);
    text-shadow: 5px 5px 5px, 8px 8px 7px, -5px -5px 5px, -8px -8px 7px, 4px -5px 4px, -5px 4px 5px, 2px 37px 5px, 2px 37px 5px;
}

.button {
	position: relative;
	display: block;
	background: none center center no-repeat;
	background-size: cover;
	border: 2px solid #fff;
	text-transform: uppercase;
	letter-spacing: .3rem;
    padding: 20px 15px;
    margin: auto;
	text-align: center;
	max-width: 270px;
	min-width: 200px;
	cursor: pointer;
    overflow: hidden;
    color: #fff;
	-webkit-transition: border 1s cubic-bezier(0.19,1,.22,1),color .6s cubic-bezier(0.19,1,.22,1);
	transition: border 1s cubic-bezier(0.19,1,.22,1), color .6s cubic-bezier(0.19,1,.22,1), background 5s cubic-bezier(0.19,1,.22,1);
}

.button a {
	color: #969696;
	font-family: 'Varela Round';
	text-decoration: none;
}

.button .mask {
	background: #fff;
	background: rgba(255,255,255,0.5);
}

.button .mask {
	position: absolute;
	display: block;
	width: 200px;
	height: 100px;
	-webkit-transform: translate3d(-120%,-50px,0) rotate3d(0,0,1,45deg);
	transform: translate3d(-120%,-50px,0) rotate3d(0,0,1,45deg);
	-webkit-transition: all 1.1s cubic-bezier(0.19,1,.22,1);
	transition: all 1.1s cubic-bezier(0.19,1,.22,1);
}

.button .shift {
	-webkit-transition: all 1.1s cubic-bezier(0.19,1,.22,1);
	transition: all 1.1s cubic-bezier(0.19,1,.22,1);
}

.button:hover {
	border-color: #fff;
	/* box-shadow: 0 0 5px rgba(255,245,245,0.8); */
	/* background-image: url('http://cuinine.com/img/codepen/savvy.jpg'); */
}

.button:hover a {
	color: #fff;
}

.button:hover .mask {
	background: #fff;
	-webkit-transform: translate3d(120%,-100px,0) rotate3d(0,0,1,90deg);
	transform: translate3d(120%,-100px,0) rotate3d(0,0,1,90deg);
}

.button:hover .shift {
	padding-left: 5px;
}




