<app-header></app-header>
<div class="event">

<br>
<h1 align="center" style="font-family: 'Ultra',serif; color: rgb(255, 255, 255)">Events</h1>
<div class="container-fluid">
<div class="event-wrapper">
  <div class="event-list">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="event-item">
              <app-card></app-card>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="event-item">
              <app-card></app-card>    
            </div>
          </div>
      

    
    
        <div class="col-lg-4 col-md-6">
          <div class="event-item">
              <app-card></app-card> 
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="event-item">
                
                    <app-card></app-card> 
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="event-item">
                  <app-card></app-card> 
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="event-item">
                    <app-card></app-card> 
                </div>
              </div>
              

        </div>
  
</div>
</div>
</div>