<app-header></app-header>
  

  <img src="../../assets/event3.jpg" alt="" width="100%">
  

<div class="data container-fluid" align="center">
  <h1>About Acumen CS Fest</h1>
  <p><b>"The pace of progress in the field of Science & Technology in this millennium has overshadowed the speed of Technological changes in the past decades. In this millennium this pace would intensify and may even reach a state beyond our imagination. Technical Symposiums like Acumen are an effort to catch up with the pace of technological innovation. Acumen triggered off in the year 1996. It was the first of its kind in Hyderabad and had an overwhelming response. Around 180 papers from various parts of the country were received and students from various universities and institutes like IIT, NIT, etc., have participated in this symposium"</b></p>
</div>

<div class="team">
  
</div>



<app-navigation></app-navigation>

