
<!-- 
<div  id="msgbox"  class="mymsgbox" >

<ng-container  *ngFor="let message of messages | async">

  <div class="message"  [ngClass]="{ 'from': message.sentBy === 'bot',
                                    'to':   message.sentBy === 'user' }"
                                    >
    {{ message.content }}
  </div>

</ng-container> -->


  <!-- Trigger the modal with a button -->
  
  <!-- Modal -->
  <!-- <div class="container"> -->
      <!-- Button trigger modal -->


<!-- Modal -->
<!-- <div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->
  <!-- </div> -->
  <div class="b-agent-demo" > 
    <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Large Modal</button> -->


<div class="b-agent-demo_result" id="resultWrapper">
  <table class="b-agent-demo_result-table" id="mytable" >
    <tbody>
      <tr>
        <td id="result">
          <div class="mymsgs">
            <div  id="chatdialogue" >
            <div class="server-response">
                Hey there..
            </div>
      </div>
      </div>
        </td>
      </tr>

    </tbody>
    
  </table>
  
</div>

<div class="clearfix" ></div>


</div>


<div class="b-agent-demo contain "  >
  <div class="pallete" >
    <div class="pallete-items" (click)="sendshortmsg('What are the events being conducted this year?')">Events</div>
    <div class="pallete-items" (click)="sendshortmsg('Sponsors')" >Sponsors</div>
    <div class="pallete-items" (click)="sendshortmsg('Tell me about Acumen')" >About</div>
    <div class="pallete-items" (click)="sendshortmsg('Navigation')" >Navigation</div>
    <div class="pallete-items" (click)="sendshortmsg('Date')" >Date</div>
    <div class="pallete-items" (click)="sendshortmsg('Venue')" >Venue</div>
        
  </div>
</div>


<div class="b-agent-demo ">
<div class="b-agent-demo_input">
    <form id="agentDemoForm" autocomplete="off" autocomplete="false" > 
        <input style="display:none" type="text" name="fakeusernameremembered"/>
        <input style="display:none" type="password" name="fakepasswordremembered"/>
        <input type="text" name="q" [(ngModel)]="formValue" id="query" placeholder="Ask something..."  (click)="pushdown()"  autocomplete="false" autocomplete="new-password" (keyup.enter)="sendMessage()">
         <i class="b-agent-demo_input-microphone material-icons-extended fas fa-microphone " name="btnActivateSpeechSearchMovie"   id="btnActivateSpeechSearchMovie" (click)="activateSpeechSearchMovie()"   [class.myownactive]="showSearchButton" style="display: block;"></i>
        <!-- <div class="b-agent-demo_input-microphone material-icons-extended mic-red" id="mic"></div> -->
    </form>
  </div>
  </div>


<!-- 
  <div class="event-pallete">
    <div class="event-pallete-item">
      <img src="../../../assets/eventdemo.PNG" alt="">
      <h1>Paper Presentation</h1>
    </div>
    <div class="event-pallete-item">Event 1</div>
    <div class="event-pallete-item">Event 1</div>
    <div class="event-pallete-item">Event 1</div>
  </div> -->