
<!-- 
<div  id="msgbox"  class="mymsgbox" >

<ng-container  *ngFor="let message of messages | async">

  <div class="message"  [ngClass]="{ 'from': message.sentBy === 'bot',
                                    'to':   message.sentBy === 'user' }"
                                    >
    {{ message.content }}
  </div>

</ng-container> -->


  <!-- Trigger the modal with a button -->
  
  <!-- Modal -->
  <!-- <div class="container"> -->
      <!-- Button trigger modal -->


<!-- Modal -->
<!-- <div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->
  <!-- </div> -->


<!-- <div class="row" > -->
  <!-- <div class="col col-lg-3"> -->
  <div class="b-agent-demo " style="background-color: grey" > 
    <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Large Modal</button> -->


<div class="b-agent-demo_result" id="resultWrapper" style="background-image: url('../../../assets/bg.png')">
  <table class="b-agent-demo_result-table" id="mytable" >
    <tbody>
      <tr>
        <td id="result">
          <div class="mymsgs">
            <div  id="chatdialogue" >
            <div class="server-response">
                Hey there..
            </div>
      </div>
      </div>
        </td>
      </tr>

    </tbody>
    
  </table>
  
</div>

<div class="clearfix" ></div>


</div>


<div class="b-agent-demo contain "  >
  <div class="pallete" >
    <div class="pallete-items" (click)="sendshortmsg('What are the events being conducted this year?')">EVENTS</div>
    <div class="pallete-items" (click)="sendshortmsg('Who are the sponsors for this year?')" >SPONSORS</div>
    <div class="pallete-items" (click)="sliderforcontact()" >CONTACT US</div>
    <div class="pallete-items" (click)="sendshortmsg('Who are the developers?')" >DEVELOPERS</div>
    <div class="pallete-items" (click)="displaynumber()" >MSG COUNT</div>
    <div class="pallete-items" (click)="sendshortmsg('Navigation')" >NAVIGATION</div>
    <div class="pallete-items" (click)="sendshortmsg('Tell me about Acumen')" >ABOUT</div>
    <div class="pallete-items" (click)="sendshortmsg('Date')" >DATE</div>
    <div class="pallete-items" (click)="sendshortmsg('Venue')" >VENUE</div>
  </div>
</div>


<div class="b-agent-demo ">
<div class="b-agent-demo_input">
    <form id="agentDemoForm" autocomplete="off" autocomplete="false" > 
        <input style="display:none" type="text" name="fakeusernameremembered"/>
        <input style="display:none" type="password" name="fakepasswordremembered"/>
        <input type="text" style="border-radius: 20px; border: 1px solid lightgrey;  ;  box-shadow: 0px 6px 4px 0px #DDDDDD;
        -webkit-box-shadow: 0px 6px 4px 0px #DDDDDD;
        -moz-box-shadow: 0px 6px 4px 0px #DDDDDD;
        -o-box-shadow: 0px 6px 4px 0px #DDDDDD ;  padding-left: 20px "     name="q" [(ngModel)]="formValue" id="query" placeholder="Ask something..."  (click)="pushdown()" (keyup)="pushdown()"  autocomplete="false" autocomplete="new-password" (keyup.enter)="sendMessage()">
         <!-- <i class="b-agent-demo_input-microphone material-icons-extended fas fa-microphone "      style="background-color: #ba101a; display: block; color: white; border-radius: 50%"  name="btnActivateSpeechSearchMovie" *ngIf="formValue=='' || (document.getElementById('query')!==document.activeElement)"  id="btnActivateSpeechSearchMovie" (click)="activateSpeechSearchMovie()"   [class.myownactive]="showSearchButton" ></i> -->
         <i class="b-agent-demo_input-microphone material-icons-extended fas fa-paper-plane fa-rotate-45  "      style="background-color: #ba101a; display: block; color: white; border-radius: 50%; margin-top: 0px" (click)="sendMessage()"    ></i>
        
         <!-- <div class="b-agent-demo_input-microphone material-icons-extended mic-red" id="mic"></div> -->
    </form>
  </div>
  </div>
  <!-- </div>  -->
<!-- </div> -->

<!-- 
  <div class="event-pallete">
    <div class="event-pallete-item">
      <img src="../../../assets/eventdemo.PNG" alt="">
      <h1>Paper Presentation</h1>
    </div>
    <div class="event-pallete-item">Event 1</div>
    <div class="event-pallete-item">Event 1</div>
    <div class="event-pallete-item">Event 1</div>
  </div> -->