

<div  id="msgbox"  class="mymsgbox" >

<ng-container  *ngFor="let message of messages | async">

  <div class="message"  [ngClass]="{ 'from': message.sentBy === 'bot',
                                    'to':   message.sentBy === 'user' }"
                                    >
    {{ message.content }}
  </div>

</ng-container>



</div>

<div class="position: fixed !important; z-index: -1" >
  
  
  <!-- <footer class="row myfooter" style="margin:0px" >
  <div class="col col-lg-10 col-xs-10" style="padding:0px">
  <input [(ngModel)]="formValue"  class="form-control"  (keyup.enter)="sendMessage()" type="text"></div>
  <div class="col col-lg-2 col-xs-2" style="padding:0px" ><button (click)="sendMessage()" class="btn btn-primary" >Send</button></div>
  </footer> -->



<!-- <footer class="footer">
  <p>this is my footer</p>
</footer> -->