.message {
    border-radius: 50px;
    margin: 0 15px 10px;
    padding: 15px 20px;
    position: relative;
    font-weight: bold;

    /* animation: fadein .3s forwards; */
}
.message.to {
    background-color: #2095FE;
    color: #fff;
    margin-left: 100px;
    text-align: right;

}
.message.from {
    background-color: rgb(143, 211, 146);
    color: white;
    margin-right: 100px;


}
.message.to + .message.to,
.message.from + .message.from {
margin-top: -10px;
}

.message:last-child{
    margin-bottom: 80px;
}


.message::-webkit-scrollbar{
    width: 1px;
}
#msgbox::-webkit-scrollbar{
width: 1px;
}


.mymsgbox{
    height: calc(100% - 180px) !important;
    overflow-y: scroll;
    width: 100%;
    margin-top: 5px;
    /* height: 100% !important; */
    /* display: flex; *
    /* flex-direction: column-reverse; */

}

@keyframes fadein{
    from{
        opacity: 0;
        display: none;
    }
    to{
      display: block;
        opacity: 1;
    }
}
body {
    margin: 0;
    background: white;
  }
  form {
    margin: 0;
  }
  .b-agent-demo {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    width: 100%;
    /* height: auto; */
    color: #2b313f;
    font-size: 14px;
    /* overflow: scroll; */
    /* position: fixed; */
    /* top: 50px; */
    /* bottom: 55px; */
    /* left: 0; */
    /* right: 0; */
    
  }
   .user-request,
   .server-response {
    display: inline-block;
    padding: 10px 10px 10px 15px;
    
    max-width: 80%;
    margin-bottom: 5px;
    font-size: 13px;
    clear: both;
  }
   .user-request.server-response-error,
   .server-response.server-response-error {
    background-color: #F76949;
  }
   .user-request {
    background-color: #eae3c7;
    float: right;
    /* display: flex; */
    /* justify-content: flex-end; */
    margin-right: 15px;
    margin-bottom: auto;
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 30px;
    /* border: 1px solid #eae3c7; */
    clear: both;
  }
   .server-response {
    color: black;
    background-color: white;
    /* align-content: flex-start; */
    float: left;
    margin-top: 10px;
    margin-bottom: auto;
    margin-right: 10px;
    margin-left: 15px;
    border-radius: 35px;
    border: 1px solid #c7bfbf;
    clear: both;
    /* animation: fadein .3s forwards; */
  }
  /* url('../../../assets/head.png'); */
  

  .server-response:last-child{
    animation: fadein .6s forwards;
  }
  .user-request:last-child{
    animation: fadein .5s forwards;
  }


  .b-agent-demo #resultWrapper {
    overflow-y: scroll;
    background: white;
    position: fixed;
    top: 50px;
    bottom: 125px;
    width: 100%;
    height: calc(100% - 180px) !important ;
    /* animation: fadein .3s forwards; */
    
  }


  .b-agent-demo .pallete{
    /* overflow-y: hidden; */
    overflow-x: scroll;
    background-color: transparent;
    white-space: nowrap;
    position: fixed;
    bottom:47px;
    left: 0;
    right: 0;
    z-index: 10;
    -webkit-overflow-scrolling: touch;
    height: 65px;
    /* top: 300; */
    
   
    animation: fadein .3s forwards;
    /* display: inline-block; */
    /* padding: 15px 25px; */
    
    
    /* margin-bottom: 5px; */
    /* font-size: 16px; */
    margin: 0px;
    padding: 0px;
  }
  .b-agent-demo .pallete ul{
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* height: 55px; */
  }

 
  .b-agent-demo .pallete .pallete-items{
    
    display: inline-block;
    color: black;
    background-color: white;
    padding: 10px 25px 10px 25px;
    /* animation: fadein .3s forwards; */
    z-index: 325;
    cursor: pointer;
    /* margin-bottom: 0px; */
    font-size: 16px;
    /* margin-top: 5px; */
    /* margin-right: 5px; */
    margin-left: 7px;
    border-radius: 35px;
    box-shadow: 0px 6px 4px 0px #DDDDDD;
-webkit-box-shadow: 0px 6px 4px 0px #DDDDDD;
-moz-box-shadow: 0px 6px 4px 0px #DDDDDD;
-o-box-shadow: 0px 6px 4px 0px #DDDDDD;
    border: 1px solid #c7bfbf;
    animation: fadein .3s forwards;
  }
  .b-agent-demo .b-agent-demo_result-table {
    height: 100%;
    /* min-height: 100%; */
    width: 100%;
    /* width: 100%;  */
    word-wrap:break-word;
    table-layout: fixed;
    /* margin-top: 0px; */
    /* margin-bottom: 120px; */
  }
  .b-agent-demo .b-agent-demo_result-table td {
    vertical-align: top;
    
  }
  .b-agent-demo .b-agent-demo_header {
    min-height: 80px;
    height: 80px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #2b303e;
    display: table;
  }
  .b-agent-demo .b-agent-demo_header-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  .b-agent-demo .b-agent-demo_header-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    /*background-color: @response-color;*/
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
  }
  .b-agent-demo .b-agent-demo_header-icon img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
    margin: auto;
  }
  .b-agent-demo .b-agent-demo_header-agent-name {
    padding-left: 80px;
    font-size: 18px;
    color: white;
  }
  .b-agent-demo .b-agent-demo_header-description {
    color: #B7BBC4;
    padding-left: 80px;
    padding-top: 7px;
    font-size: 12px;
    display: block;
    /* Fallback for non-webkit */
    display: -webkit-box;
    max-height: 24px;
    /* Fallback for non-webkit */
    margin: 0 auto;
    line-height: 1;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .b-agent-demo .b-agent-demo_input {
    position: fixed;
    bottom: 0;
    height: 55px;
    border-top: 1px solid lightgray;
    background-color: white;
    width: 100%;
    overflow: hidden;
  }
  .b-agent-demo #agentDemoForm {
    display: block;
    margin-left: 15px;
    margin-right: 55px;
  }
  .b-agent-demo #query {
    width: 100%;
    border: 0;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    height: 55px;
  }
  .b-agent-demo #query:focus {
    outline: none;
    outline-offset: 0;
  }
  .b-agent-demo .b-agent-demo_input-microphone {
    display: none;
    position: absolute;
    font-size: 20px;
    width: 54px;
    height: 54px;
    right: 0;
    bottom: 0;
    cursor: pointer;
    text-align: center;
    /* line-height: 30px; */
    line-height: 54px;
    background: white;
    color: #B7BBC4;
  }
  .b-agent-demo .b-agent-demo_input-microphone.active {
    color: #F76949;
  }
  .b-agent-demo .b-agent-demo_powered_by {
    position: fixed;
    left: 0;
    right: 0;
    top: 80px;
    height: 30px;
    background-color: #F8F8F8;
    vertical-align: middle;
  }
  .b-agent-demo .b-agent-demo_powered_by span {
    color: #B7BBC4;
    text-transform: uppercase;
    float: right;
    vertical-align: middle;
    line-height: 20px;
    margin-top: 5px;
    margin-right: 10px;
    font-size: 10px;
    margin-left: -10px;
  }
  .b-agent-demo .b-agent-demo_powered_by img {
    margin-top: 7px;
    height: 16px;
    margin-right: 20px;
    float: right;
    vertical-align: middle;
    border: 0;
  }
  /* .clearfix { */
    /* clear: both; */
  /* } */
  

 
  /* .mymsgs{ */
    /* position: relative; */
    /* animation: fadein .5s forwards; */
  /* } */
  /* .mymsgs:last-child{ */
/* margin-bottom: 120px; */
  /* }  */

  #result{
    /* animation: fadein .3s forwards; */
    overflow-y: scroll;
  }
  
  /* #result:last-child{
    margin-bottom: 100px;
  } */
  ::-webkit-scrollbar{
    width: 1px;
  }

  .myownactive{
    color: red !important;
  }

  /* #chatdialogue:last-child{
    animation: fadein .3s forwards;
  } */

/* 
  .modal.in .modal-dialog{
    -webkit-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
  }
  .modal-backdrop .fade .in{
    opacity: 0.5 !important;
  }
  .modal-backdrop{
    z-index: -1;
  }

  .fade{
    opacity: 1 !important;
  }

  .modal-backdrop.fade{
    opacity: 0.5 !important;
  }

  .modal-content{
    z-index: 10;
  } */

  #chatdialogue .separateimg{
    margin: 10px 30px 00px 15px;
    max-width:  60%;
    padding: 10px 10px 10px 10px;
    /* color: black; */
    background-color: white;
    /* animation: fadein .6s forwards; */
    border-radius: 15px;
    border: 1px solid #c7bfbf;
    
  }

  #chatdialogue .separateimg:last-child{
    animation: fadein .6s forwards;
  }

  #chatdialogue .event-pallete{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: transparent;
    /* white-space: nowrap; */
    /* display: inline-block; */
    z-index: 10;
    -webkit-overflow-scrolling: touch;
    margin: auto;
    margin-bottom: 0px  ;
    padding: 0px;
    height:   auto;
    width: 100%;
    /* cursor: pointer; */
  }

  #chatdialogue .event-pallete:last-child{
    animation: fadein .6s forwards;
  }

  #chatdialogue .event-pallete .event-pallete-item{
    /* display: inline-block; */
    color: black;
    flex: 0 0 auto;
    /* background-color: white; */
    padding: 10px 10px 10px 10px;
    /* color: black; */
    background-color: white;
    /* position: relative; */
    /* align-content: flex-start; */
    /* float: left; */
    margin-top: 10px;
    margin-bottom: 0px;
    /* margin-right: 10px; */
    margin-left: 10px;
    border-radius: 15px;
    border: 1px solid #c7bfbf;
    /* height: 100px; */
    width: 45%;
    cursor: pointer;
   
    /* white-space: nowrap; */
    /* word-wrap:break-word; */
    /* word-break: break-all; */
    /* word-break: break-word; */
  }

  #chatdialogue .event-pallete .event-pallete-item img{
    width: 100%;
    margin: 0px;
    max-width: 100%;
    padding: 0px;
    height: 200px;
    border-radius: 0px;
    /* white-space: nowrap; */
    /* display: inline-block; */
    /* word-wrap:break-word; */
  }

  #chatdialogue .event-pallete .event-pallete-item .text{
      text-align: center;
      text-transform: capitalize;
      font-size: 16px;
      font-family: inherit;
      
      /* white-space: nowrap; */
    /* word-wrap:break-word; */
    /* display: inline-block; */
  }

  #chatdialogue .event-pallete .event-pallete-item .desc{
    font-size: 12px;
    text-align: center;
    font-family: inherit;
    /* width: 100%; */
    /* white-space: nowrap; */
    /* word-wrap:break-word; */
    /* word-break: break-all; */
    width: 100%;
    /* display: inline-block; */
    background-color: white;
  }

  