
form {
  margin: 0;
}
.b-agent-demo {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  width: 100%;
  height: auto;
  color: #2b313f;
  font-size: 12px;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.b-agent-demo .user-request,
.b-agent-demo .server-response {
  display: inline-block;
  padding: 15px 25px;
  border-radius: 3px;
  border: 1px solid #eee;
  margin-bottom: 5px;
  font-size: 16px;
  clear: both;
}
.b-agent-demo .user-request.server-response-error,
.b-agent-demo .server-response.server-response-error {
  background-color: #F76949;
}
.b-agent-demo .user-request {
  background-color: #efefef;
  float: left;
  margin-right: 15px;
  margin-top: 15px;
  margin-left: 15px;
}
.b-agent-demo .server-response {
  color: white;
  background-color: #A5D175;
  float: right;
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 15px;
}
.b-agent-demo .b-agent-demo_result {
  overflow-y: auto;
  background: white;
  position: fixed;
  top: 110px;
  bottom: 55px;
  width: 100%;
}
.b-agent-demo .b-agent-demo_result-table {
  height: 100%;
  min-height: 100%;
  width: 100%;
}
.b-agent-demo .b-agent-demo_result-table td {
  vertical-align: bottom;
}
.b-agent-demo .b-agent-demo_header {
  min-height: 80px;
  height: 80px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #2b303e;
  display: table;
}
.b-agent-demo .b-agent-demo_header-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.b-agent-demo .b-agent-demo_header-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  /*background-color: @response-color;*/
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
}
.b-agent-demo .b-agent-demo_header-icon img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 0;
  margin: auto;
}
.b-agent-demo .b-agent-demo_header-agent-name {
  padding-left: 80px;
  font-size: 18px;
  color: white;
}
.b-agent-demo .b-agent-demo_header-description {
  color: #B7BBC4;
  padding-left: 80px;
  padding-top: 7px;
  font-size: 12px;
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  max-height: 24px;
  /* Fallback for non-webkit */
  margin: 0 auto;
  line-height: 1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.b-agent-demo .b-agent-demo_input {
  position: fixed;
  bottom: 0;
  height: 55px;
  border-top: 1px solid lightgray;
  background-color: white;
  width: 100%;
}
.b-agent-demo #agentDemoForm {
  display: block;
  margin-left: 15px;
  margin-right: 55px;
}
.b-agent-demo #query {
  width: 100%;
  border: 0;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  height: 55px;
}
.b-agent-demo #query:focus {
  outline: none;
  outline-offset: 0;
}
.b-agent-demo .b-agent-demo_input-microphone {
  display: none;
  position: absolute;
  font-size: 20px;
  width: 54px;
  height: 54px;
  right: 0;
  bottom: 0;
  cursor: pointer;
  text-align: center;
  /* line-height: 30px; */
  line-height: 54px;
  background: white;
  color: #B7BBC4;
}
.b-agent-demo .b-agent-demo_input-microphone.active {
  color: #F76949;
}
.b-agent-demo .b-agent-demo_powered_by {
  position: fixed;
  left: 0;
  right: 0;
  top: 80px;
  height: 30px;
  background-color: #F8F8F8;
  vertical-align: middle;
}
.b-agent-demo .b-agent-demo_powered_by span {
  color: #B7BBC4;
  text-transform: uppercase;
  float: right;
  vertical-align: middle;
  line-height: 20px;
  margin-top: 5px;
  margin-right: 10px;
  font-size: 10px;
  margin-left: -10px;
}
.b-agent-demo .b-agent-demo_powered_by img {
  margin-top: 7px;
  height: 16px;
  margin-right: 20px;
  float: right;
  vertical-align: middle;
  border: 0;
}
.clearfix {
  clear: both;
}
